.GuildTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GuildTitle__title {
    width: 100%;
    text-align: center;
    color: #EC368D;
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 1em;
}

.GuildTitle__divider {
    height: 2px;
    width: 80%;
    background-color: #51E5FF;
}

.GuildTitle__pages {
    padding: 0;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.GuildTitle__pages a {
    text-decoration: none;
    list-style: none;
    color: #EC368D;
    font-size: 20px;
}
