.Banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    /* parallax scrolling */
    /* background-attachment: fixed; */
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 720px) {
    .Banner {
        background-size: contain;
    }
}