.Banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    /* parallax scrolling */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 10px black;
}

@media only screen and (max-width: 720px) {
}