.Home {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 300px 400px 250px 50px;
}

@media only screen and (max-width: 720px) {
    .Home {
        grid-template-rows: 300px 350px auto auto; 
    }
}