.Footer {
  height: 100%;
  width: 100%;
  background-color: #ffd6c0;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Footer__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Footer__content p {
  padding: 0;
  margin: 0;
}

.Footer__content a {
  margin: 0 10px;
  padding: 0 10px;
  color: black;
}

.Footer__content i {
  font-size: 30px;
}
