html, body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: auto; */
}

body {
  /* background-image: url('backgrounds/folk-pattern-black.png'); */
  background-image: url('backgrounds/congruent_outline.png');
  /* background-image: url('backgrounds/argyle_2.png'); */
}

#root {
  height: 100%;
  width: 100%;
}
