.header {
  background-color: #ffd6c0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: "Libre Baskerville", serif;
  padding-left: 5%;
  max-height: 100%;
  width: 100%;
}

.header__pages {
  width: 100%;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
